@font-face {
  font-family: 'RobotSlab';
  src: url('RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: 'RobotCondensed';
  src: url('RobotoCondensed-Regular.ttf');
}


*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'RobotCondensed', 'Georgia', serif;
	background: #673ab7;
	color: rgba(255, 255, 255, 0.6);
}

.head{
	font-family: 'RobotSlab', 'Georgia', serif;
        display:block;
        width:100%;
        height:40px;	
        padding: 10px;
	font-size: 20pt;
	background: #512da8;
	color: rgba(255,255,255,0.7);
	text-shadow: 2px 2px 6px #210d58;
}

.floatRight{
	float: right;
}

message{
	padding: 15px;
	font-size: 16pt;
}

#submit {
	font-family: 'RobotCondensed', 'Georgia', serif;
    background-color: #e91e63;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius:2px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    box-shadow: 0px 2px 2px #c2185b;
}

#submit:hover {
    border: none;
    background:#ED4B82;
    box-shadow: 0px 3px 3px #c2185b;
}

.img-circle {
			border-radius: 50% ;
}

#vertical {
   position : absolute ;
   top: -50%;
   left: 0 ;
   width : 100% ;
}

#fixCenter{
				position:absolute;
    top:-10%;
    left:0;
    width:100%;
}


#pushDown{
    position:relative;
    top:20px;
    left:0;
    width:100%;
} 